page-info-item {
    ion-card img {
        width: 22% !important;
    }
    .card-content-md, .card-content-ios {
        padding: 0px 15 px 18px 0px !important;
        text-align: justify
        
    }

    .contentInfo {
        margin-left: 20px
    }

}
